<!DOCTYPE html>
<html lang="en">

  <%- include ("../partials/head"); %>

  <body class="container">
  <!-- É possível passar objetos no EJS, como conteúdo, assim como demonstrado abaixo. -->
  <%- include ("../partials/header", {page: "About"}); %>

    <main>
      <div class="bg-light p-5 rounded-lg m-3">
        <h1> About me</h1>
        <p>Hi, I'm Vinícius Oliveira Web Developer student</p>
      </div>
    </main>

  <%- include ("../partials/footer"); %>
  </body>
</html>
