<!DOCTYPE html>
<html lang="en">

  <%- include ("../partials/head"); %>

  <body class="container">
  <!-- É possível passar objetos no EJS, como conteúdo, assim como demonstrado abaixo. -->
  <%- include ("../partials/header"); %>

    <main>
      <div class="bg-light p-5 rounded-lg m-3">
        <h1>Nodejs com EJS</h1>
        <p>Aprendendo a trabalhar com arquivos EJS</p>
      </div>
    </main>

  <%- include ("../partials/footer"); %>
  </body>
</html>
